#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: start;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.ant-menu-dark .ant-menu-item {
  margin-bottom: 12px; /* jarak antar tombol */
}

/* Jika kamu pakai CSS module atau global CSS */
.custom-search-input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* warna placeholder */
}

.custom-purple-card {
  background-color: #5C317D;
  color: white;
  border: 1px solid white;
}

.custom-purple-card .ant-card-meta-title,
.custom-purple-card .ant-card-meta-description {
  color: white !important;
}

.custom-purple-card .ant-card-actions {
  background-color: #5C317D;
  border-top: 1px solid white;
}

.custom-purple-card .ant-card-actions > li {
  color: white !important;
}


.custom-float-button .ant-float-btn-body {
  background-color: #5e2b97 !important;
  color: white !important;
}

.custom-float-button,
.custom-float-button:focus,
.custom-float-button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ant-card-cover {
  background: none !important;
}